@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.slideInLeft {
	-webkit-animation-name: slideInLeft;
	animation-name: slideInLeft;
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@-webkit-keyframes slideInLeft {
	0% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
		visibility: visible;
		opacity: 0;
	}
	10% {
		opacity: 1;
	}
	90% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes slideInLeft {
	0% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
		visibility: visible;
		opacity: 1;
	}
	10% {
		opacity: 1;
	}
	90% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fadeInOut {
    0% {
        -webkit-opacity: 1;
        opacity: 1;
    }

    72% {
        -webkit-opacity: 1;
        opacity: 1;
    }

    100% {
        -webkit-opacity: 0;
        opacity:0;
        /* Hack Safari */
        visibility: hidden;
        display:none;
    }
}

@keyframes bounceOver {
    0% {
        transform: translateY(0%) scale(1);
    }

    50% {
        transform: translateY(0%) scale(1.4);
    }
    100% {
        transform: translateY(0%) scale(1);
    }
}

@keyframes gelatineMe {
    0% {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(0.9, 1.1);
    }
    50% {
        transform: scale(1.1, 0.9);
    }
    75% {
        transform: scale(0.95, 1.05);
    }
}
